<html>
<!-- Enlaces de datos o Data Binding
     Forma de enlazar informacion que esta en la vista con el modelo o el modelo con la vista.
     En la vista se crea una variable que va estar vinculada al modelo, si el contenido de la variable
     se actualiza en la vista, el cambio esta reflejado en el modelo.
     Es decir, la sincronizacion se hace en ambos sentidos (double binding).
-->
  <head>
    <title>UDEMY - ANGULAR JS</title>
  </head>

  <!-- ng-app Inicializamos Angular -->
  <body ng-app>

    <h1>UDEMY - ANGULAR JS</h1>

    <p><i>Reemplazar nombres usando enlaces de datos</i></p>

    <!--Declaramos la variable que se enlazará al modelo ng-model="miNombre", creando un enlace al modelo -->
    <input type="text" ng-model="miNombre">

    <!--ng-click="miNombre=Luis", creando un enlace al modelo -->
    <input type="button" value="Cambiar Nombre" ng-click="miNombre='Maria'">

    <!-- Imprimiendo el valor del modelo ng-model miNombre a la vista -->
    <p>{{miNombre}}</p>

    <!-- ng-init="miNombre='Paula'" inicializamos  la variable del modelo -->
    <p ng-init="miNombre='Paula'">{{miNombre}}</p>

    <!-- El script de AngularJS debe estar al final -->
    <script src="js/angular.min.js"></script>

    </body>
</html>
