<html>

    <!-- SERVICIO $interval -->

  <head>
    <meta charset="utf-8">
    <title>UDEMY - ANGULAR JS - Servicio $interval y $timeout</title>

    <base href="/angularjs/udemy-curso-angularjs/servicio_interval/" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body ng-app="miModulo">

    <div class="container">
      <div ng-controller="IntervalController">
        <div class="invisible" class="ng-cloak" id="IntervalController">
          <div class="row">
            <div class="col-md-12">
              <h1 ng-model="contador">Contando con Interval: {{contador}} </h1>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="TimeoutController">
        <div class="invisible" class="ng-cloak" id="TimeoutController">
          <div class="row">
            <div class="col-md-12">
              <h1 ng-model="contador2">Contando con Timeout: {{contador2}} </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="js/app.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
